#topics_container ul li {
	list-style-type: none;
	padding: 0;
	margin: 0 0 2px 0;
	display: block;
	float: left;
	text-align: center;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold
}

#topics_container a {
	/*color: #000;*/
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	/*border-top: 1px solid #A8B090;
	border-bottom: 1px solid #A8B090;*/
	border-left: 1px solid #A8B090;
	color:#69a03b;
	font-weight:normal;
	margin-bottom: 10px;
}

div.anglr_wdgt_article_container {
	margin-top: 5px;
	position:relative;
	height: auto;
    padding-left: 60px;
    min-height: 53px;
    border-bottom: 1px solid #D3D3D3;
}

.anglr_wdgt_article_title{
	font-style: oblique;
	font-size: small;
}

.anglr_wdgt_article_snippet{
	font-style: italic;
	font-size: smaller;
	margin-bottom: 0px;
	padding-bottom:5px;
}

.anglr_wdgt_article_img_wrapper{
	position:absolute;
	height:100%;
	width: 50px;
	left: 0px;
}


.anglr_wdgt_article_img{
	width: 50px;
	height: 50px;
	margin-top:5px;
}
